header{
  padding: 10px 15%;
  border: 5px solid black;
  display: flex;
  background-color: lightgrey;
}
main{
  background-color: lightgray;
}
.search-bar{
  padding: 30px;
  flex: 8;
  display: flex;
  border:2px solid black;
}
.movie-search-bar{
  flex: 5;
  margin: 30px;
  height: 40px;

}
.movie-search-button{
  margin:30px;
  height: 46px;
  flex: 1;
  font-size: large;
}
.rating-filter{
  flex: 2;
  border: 2px solid black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating-filter-text{
  font-size: large;
}
.rating-stars{
  font-size: large;
}


.movie-list{
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}
.movie-card{
  border: 3px solid red;
  margin: 20px 30px;
  width: 280px;
  height: 440px;
  display: flex;
  flex-direction: column;
}
.movie-rating{
  border: 2px solid blue;
  margin:0px;
  padding: 10px;
  flex: 1;
  text-align: center;
}
.movie-image{
  border: 2px solid green;
  flex:7;
}
.movie-name{
  border: 2px solid violet;
  margin: 0px;
  padding: 10px;
  flex: 1;
  text-align: center;
}
.add-movie-btn{
  border: 3px solid red;
  margin: 20px 30px;
  width: 280px;
  height: 440px;
}
.add-modal{
  display: flex;
  flex-direction: column;
  padding:10px;
  border:2px solid blue;
}
.spinner-container{
  width:100%;
  height:820px;
  display:flex;
  justify-content: center;
  align-items: center;
}